[submodule "packages/rescript-stdlib-fp"]
	path = packages/rescript-stdlib-fp
	url = https://github.com/dsiu/rescript-stdlib-fp
	branch = rescript-v12
[submodule "packages/rescript-graphology"]
	path = packages/rescript-graphology
	url = https://github.com/dsiu/rescript-graphology
	branch = rescript-v12
[submodule "projects/advent-of-code"]
	path = projects/advent-of-code
	url = https://github.com/dsiu/advent-of-code
	branch = rescript-v12
[submodule "packages/rescript-bag"]
	path = packages/rescript-bag
	url = https://github.com/dsiu/rescript-bag
	branch = rescript-v12
[submodule "packages/rescript-extras"]
	path = packages/rescript-extras
	url = https://github.com/dsiu/rescript-extras
	branch = rescript-v12
[submodule "packages/rescript-seq"]
	path = packages/rescript-seq
	url = https://github.com/dsiu/rescript-seq
	branch = rescript-v12
